{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "typescript": {} // this loads <rootdir>/tsconfig.json to eslint
        }
    },
    "plugins": ["@typescript-eslint", "import"],
    "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "indent": ["error", 4],
        "comma-dangle": ["error", "never"],
        "arrow-parens": "off",
        "consistent-return":"off",
        "quotes": ["error", "double"],
        "lines-between-class-members": "off",
        "import/extensions": "off",
        "implicit-arrow-linebreak": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-explicit-any": [
            "warn",
            {
                "fixToUnknown": true,
                "ignoreRestArgs": true
            }
        ]
    }
}
